<h1>Welcome to TTS Blog</h1>
<p>
	Lorem ipsum dolor sit amet, ne mei timeam oblique. Per cu aeque ignota possit, ut sea viris definiebas. Natum harum laudem cu eos, admodum apeirian per ne, utinam adipisci no mel. Ex mollis commune consulatu usu, nec ut utamur aperiam expetenda. Putent persius ne duo, possim volumus pro ad.

	Sed at quem animal, nec ex brute consetetur, ei ius velit eruditi. Has eu graece democritum, illud maiestatis temporibus in has. Sint placerat mnesarchum mea id, dicta graecis legendos mei id, doctus verterem definitiones id mel. Eu qui nullam apeirian. Ius enim adhuc petentium in.
</p>

<p>
	Nec postea nostrum luptatum cu, novum latine erroribus sit ad, putant admodum volutpat ex has. Bonorum definiebas interpretaris vix ut, oblique similique ne eum. Adhuc ignota omnesque eam et. Legimus appareat deseruisse mei cu, vis ad summo dictas vivendum.

	Pri partem iriure appareat in, duo an tantas fierent. Possim omnesque consequuntur an ius. Et est nisl oportere, ignota omnium disputando per at, vitae veniam menandri vix in. Nec at ipsum mazim, id iusto posidonium vix. Ea pri harum tacimates vituperatoribus.

</p>

<div>
	<% @recent_posts.each do |recent_post| %>
		<div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%=recent_post.title%></span>
              <i>by <%=recent_post.author%></i>
              <p>
                <%= recent_post.blog_entry[0..250] %>...
                [<%=link_to "Read More", recent_post%>]
              </p>
            </div>
          </div>
        </div>
	<% end %>
</div>


<div class = "recent">
	<% @recent_posts.each do |recent_post| %>
		<ul>
			<li><%=recent_post.title%></li>
		</ul>
	<% end %>
</div>
