<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center yellow-text text-lighten-2">Welcome to myBlog</h1>
      <div class="row center">
        <h5 class="header white-text col s12 light">This App was built using Ruby on Rails and customized with Materialize.</h5>
      </div>
      <div class="row center">
        <a href="blog_posts" id="download-button" class="btn-large waves-effect waves-light yellow lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag ("background2.jpg")%></div>
</div>

<div class="container">
  <div class="section">
    <div class="row center">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>myBlog Posts</h4>
        <% @recent_posts.each do |recent_post| %>
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title"><%=recent_post.title%></span>
                <i>by <%=recent_post.author%></i>
                <p>
                  <%= recent_post.blog_entry[0..250] %>...
                  [<%=link_to "Read More", recent_post%>]
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>